# Created by .ignore support plugin (hsz.mobi)
### Example user template template
wordpress/.htaccess
### Example user template

# IntelliJ project files

.idea/
.DS_Store
wordpress/wp-config.php
wordpress/wp-content/uploads
.htaccess
*.iml
out
gen
