# Created by .ignore support plugin (hsz.mobi)
### Example user template template
/wordpress/.htaccess
/wordpress/wp-config.php
### Example user template

# IntelliJ project files
.idea/*
*.iml
out
gen
