# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.DS_Store
.ides/*
/wordpress/wp-config.php
/wordpress/wp-content/uploads/
.htaccess

*.iml
out
gen
